<div data-controller="button" data-button-disabled-value="<%= @disabled %>">
  <button 
    data-button-target="button"
    class="group cursor-pointer relative overflow-hidden flex items-center justify-center bg-black text-white font-semibold transition-all duration-200
      hover:bg-gray-900
      active:scale-95 active:bg-gray-800
      focus:ring-4 focus:ring-white/20 focus:outline-none
      <%= size_classes %>"
    role="button"
    aria-label="<%= @label %>"
    aria-pressed="false"
    aria-disabled="<%= @disabled %>"
    tabindex="0"
    data-action="click->button#toggle"
    <%= 'disabled' if @disabled %>>
    <div class="flex-1 w-[97.8%] h-[87%] absolute bg-white/30 transition-opacity duration-200
      group-hover:opacity-40
      group-active:opacity-20
      <%= overlay_radius %>
      <%= overlay_top %>">
    </div>

    <div class="<%= size_inners %> flex items-center justify-center bg-gradient-to-t absolute z-10 from-white/30 to-[oklch(0.31 0 0)] bg-black p-1 flex-1 transition-all duration-200
      hover:from-white/40 hover:to-[oklch(0.35 0 0)]
      active:from-white/20 active:to-[oklch(0.25 0 0)]
      <%= gradient_radius %>
      <%= gradient_top %>">
      <span><%= @label %></span>
    </div>
  </button>
</div>